.users {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}
.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator button {
  border: none;
  background: gold;
  color: black;
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.paginator button:focus,
button:active {
  outline: none;
}
.paginator .currentPage {
  width: 25px;
  height: 25px;
  font-weight: bold;
  border-radius: 50%;
}
.user {
  border: 2px solid chocolate;
  padding: 10px;
  margin-bottom: 10px;
  width: 20%;
  font-size: 16px;
}

.photo {
  width: 150px;
  height: 150px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

